<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Logs NAT</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Logs NAT</h1>

<div class="filtros">
    <label>Linhas:
        <input type="number" id="lines" value="50">
    </label>
    <label>Protocolo::
        <input type="text" id="keyword" placeholder="TCP, UDP ...">
    </label>
    <label>IP:
        <input type="text" id="ip" placeholder="Ex: 100.64.6.121">
    </label>
    <label>Porta:
        <input type="text" id="porta" placeholder="Ex: 53">
    </label>
    <label>Data:
        <input type="text" id="data" placeholder="Ex: Mar 11">
    </label>
    <button id="btnBuscar">Buscar</button>
</div>

<br>

<table id="tabelaLogs" border="1">

<thead>
<tr>
    <th>Data</th>
    <th>Protocolo</th>
    <th>Origem</th>
    <th>NAT</th>
    <th>Destino</th>
    <th>Destino Final</th>
</tr>
</thead>

<tbody></tbody>

</table>

<script src="/static/script.js"></script>

</body>
</html>